.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

#signup,
#login {
  display: flex;
  flex-direction: column;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
}